/*polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'ostrich-regular';
    src: url('polices/ostrich-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Condensed';
    src: url('polices/Roboto-Condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body {
    background: url("images/bandup.png") fixed repeat-x top, url("images/bandbottom.png") fixed repeat-x bottom;
    background-color: #faffeb;
    font-family: 'Roboto-Condensed', Arial, sans-serif;
}

#bloc_page {
    width: 900px;
    margin: auto;   
}

/* Header */

header {
    text-align: left;
}

#titre_principal {
    display: flex; 
    justify-content: space-between;
    align-items: baseline; 
}

h1 {
    width: 260px;
    padding-left: 10px;
    font-family: 'ostrich-regular', Arial, serif;
    font-size: 4.5em;
    box-shadow: 4px 4px 7px black;
}

#bloc_titre {
    font-family: 'BallparkWeiner', Arial, serif;
    font-size: 1.8em;
}

#cv_link {
    font-family: 'ostrich-regular', Arial, serif;
    text-align: right; 
    font-weight: bold;
    text-decoration: underline;
}


section h2 {
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

/* Corps */

img {
    box-shadow: 4px 4px 7px black;
}

a {
    color: rgb(98,209,233);
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-content: center;
    box-shadow: 4px 4px 15px black;   
}

article {
    margin: 30px 10px;
    width: 400px;
    text-align: justify;
}

article p {
    font-size: 1.15em;
}

#sunbath, #highheels, #mochimaking, #ontheslope, #break, #stoneyes, #backalley {
    width: 800px;
}

#autumn {
    width: 800px;
    display: flex;
    justify-content: space-around; 
}

#festright, #festleft {
    flex-direction: column;  
}

#oldman {
    width: 800px;
    display: flex;
    justify-content: space-around; 
}

#oldmanleft, #oldmanright {
    flex-direction: column;  
}

#mochi {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

#slope1 {
    display: flex;
    flex-direction: row;
}

#slope2 {
    margin-top: 75px;
    width: 580px;
    display: flex;
    flex-direction: column;
}

footer {
    width: 1000px;
    display: flex;
    padding-top: 25px;
    background: url('images/separateur.png') repeat-x top;
}

@media all and (max-width: 900px) {
    #bloc_page {
        width: auto;

    }

    section {
        flex-direction: column;
    }

    article {
        width: auto;
        display: block;
        margin-bottom: 15px;
    }
}

/* voilà! */
