/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Roboto-Condensed';
    src: url('polices/Roboto-Condensed.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body
{
    background: url('images/fond_jaune.png');
    font-family: 'Roboto-Condensed', Arial, sans-serif;
}

#bloc_page
{
    width: 900px;
    margin: auto;
    background-color: rgba(220,255,200,0.2);
    box-shadow: 4px 4px 15px black;
}

/* Header */

header
{
    width: auto;
    background: url('images/separateur.png') repeat-x bottom;
    display: flex;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

section h2
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

/* Corps */
img 
{
    box-shadow: 4px 4px 7px black;
}

section
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-content: center;   
}

article
{
    margin: 10px 10px;
    width: 400px;
    text-align: justify;
}

#sunbath, #highheels, #mochimaking, #ontheslope, #break, #stoneyes, #backalley
{
    width: 800px;
}

#autumn
{
    width: 800px;
    display: flex;
    justify-content: space-around; 
}

#festright, #festleft
{
    flex-direction: column;
    justify-content: space-around;    
}

#mochi
{
    width: 800px;
    display: flex;
    justify-content: space-around;
}

#slope1
{
    display: flex;
    flex-direction: row;
}

#slope2
{
    width: 580px;
    display: flex;
    flex-direction: column;
}

article p
{
    font-size: 1em;
}


@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }

    nav
    {
        width: auto;
        text-align: left;
    }

    nav ul 
    {
        flex-direction: column;
    }
    
    nav li
    {
        display: block;
        padding-left: 4px;
    }
    
    nav a
    {
        font-size: 1.1em;
    }
    
    nav a:hover
    {
        border-bottom: 0;
    }

    #banniere_image
    {
        display: none;
    }

    section
    {
        flex-direction: column;
    }

    article, aside
    {
        width: auto;
        display: block;
        margin-bottom: 15px;
    }
    
    #fleche_bulle
    {
        display: none;
    }
    
    #photo_zozor img
    {
        width: 110px;
        float: right;
        margin-left: 15px;
    }
    
    aside p:last-child
    {
        text-align: center;
    }
}
